<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
        <title>hostels</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style_hostels.css')}}">
        <script src="{{ url_for('static', filename='index.js') }}"></script>
    </head>
    <body>
        <input type=button onClick="location.href='/boys'" value='boys'>
        <input type=button onClick="location.href='/girls'" value='girls'>
    </body>
</html>