{% extends "layout.html" %}
{% block heading %}{% endblock %}

{% block body %}

<ul class="navbar_ul">
    <li class="navbar" style="border-right:1px solid #bbb;"><a class="navbar_a " style="background-color: #4CAF50 ;" href="#home">home</a></li>
    <!--you have to add a background colour to each link when that link is active-->
    <li class="navbar"><a href="#home" class="navbar_a">hostels</a></li>
    <li class="navbar"><a href="#home" class="navbar_a">pricing</a></li>
    <li class="navbar"><a href="#home" class="navbar_a">find my roomie</a></li>
    <li class="navbar"><a href="#home" class="navbar_a">about us</a></li>
    <li class="navbar"><a href="#home" class="navbar_a">login</a></li>
</ul>
<h1 style="text-align: center;">hello</h1>


{% endblock %}