{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
room mate
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="conatiner">
    <form class="form-signin" method="POST" action="/room">
        <h2 class="form-signin-heading">enter your choices</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.roommate) }}
        {{ wtf.form_field(form.no) }}
        {{ wtf.form_field(form.roll1) }}
        {{ wtf.form_field(form.roll2) }}
        {{ wtf.form_field(form.roll3) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">SUBMIT</button>
    </form>
</div>
{% endblock %}